---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

const { post } = Astro.props;

interface Props {
  post: CollectionEntry<"posts">;
}
---

<BaseLayout title={post.data.title}>
  <p>{post.data.pubDate.toISOString()}</p>
  <p><em>{post.data.description}</em></p>
  <h4>Tags:</h4>
  <ul>
    {
      post.data.tags.map((tag: any) => (
        <li>
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
  <img src={post.data.image.url} width="300" alt={post.data.image.alt} />
  <slot />
</BaseLayout>
